* {
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

body {
	padding: 0;
	margin: 0;
	font-size: 20px;
}

main {
	margin: 0 auto;
}

h1, h2, h3, h4 {
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
}

h1 {
	font-size: 45px;
}

h2 {
	font-size: 28px;
}

.no-display {
	display: none;
}

.center {
	text-align: center;
}

.white {
	color: white;
}

.lighten {
	color: gray;
}

.italic {
	font-style: italic;
}

.form-box {
	margin: 0 auto;
	height: 100vh;
	background-color: #253044;
	background-image: url("images/background.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}

.form-box header {
	margin: 0 auto;
	padding-top: 35px;
	width: 450px;
	padding-bottom: 20px;
}

h1.site-title {
	margin: 0 0 10px 0;
	padding-right: 5px;
	letter-spacing: 3px;
	text-align: right;
	line-height: 110%;
	display: inline-block;
	width: 300px;
}

.form-box.js-nav-bar {
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 1;
}

header img {
	width: 110px;
	display: inline-block;
}

.select-label {
	opacity: .6;
}

.js-selector-form {
	margin: 0 auto;
	height: 115px;
	width: 350px;
	text-align: center;	
}

.js-selector-form select {
	font-size: 18px;
    padding-left: 5px;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #666;
    height: 30px;
    border-color: white;
}

#js-state-selector {
	font-size: 18px;
    background-color: #961d1d;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    height: 30px;
}

.js-searching-alert p {
	text-align: center;
	opacity: .5;
	margin: 10px 0;
}

.js-nav-bar h1.site-title {
	line-height: 100%;
	margin: 0 0 0 25px;
	padding: 0;
	font-size: 21px;
	width: 135px;
	display: inline-block;
}

.js-nav-bar header img {
 	height: 40px;
 	width: auto;
 	padding-left: 5px;
 	padding-right: 5px;
}

.js-nav-bar header {
 	width: auto;
 	display: inline-block;
	height: 40px;
 	margin: 0;
 	padding: 0;
 	vertical-align: middle;
}

.js-nav-bar {
	padding: 10px;
}

.js-nav-bar .js-selector-form {
	float: right;
	display: inline-block;
	height: 40px;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
}

.js-nav-bar select {
	height: 30px;
	margin: 5px 25px 5px 25px;
}

.js-nav-bar label {
	font-size: 16px;
}

.js-nav-bar-padding {
	padding-top: 60px;
}

.results-wrap {
	background-color: #f0f0f0;
}

.DC-message {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 800px;
	margin: 0;
}

#js-search-results {
	max-width: 1000px;
	margin: 0 auto;
	text-align: left;
	padding: 0 10px;
}

.senator {
	padding: 40px 0;
}

.senator::before, .senator::after {
	clear: both;
	content: "";
	display: table;
}

.senator a {
	text-decoration: none;
	color: MidnightBlue;
}

.senator a:hover {
	text-decoration: underline;
}

.senator-pic {
	width: 35%;
	display: inline-block;
	vertical-align: top;
	padding: 0 35px 35px 0;
}

.senator img::after {
	clear: left;
}

.senator-text {
	display: inline-block;
	width: 65%;
}

.senator h1 {
	margin: 0;
}

.senator p {
	line-height: 1.25;
}

.social-link {
	display: inline-block;
	margin: 0 15px;
	text-align: center;
}

a.phone-button {
	display: inline-block;
    margin: 10px 0;
    width: 350px;
    height: 82px;
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background: -moz-linear-gradient(90deg, #9C9C9C 0%, #CCCCCC 11%, #ffffff 83%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(17%, #ffffff), color-stop(89%, #CCCCCC), color-stop(100%, #9C9C9C));
    background: -webkit-linear-gradient(90deg, #9C9C9C 0%, #CCCCCC 11%, #ffffff 83%, #ffffff 100%);
    background: -o-linear-gradient(90deg, #9C9C9C 0%, #CCCCCC 11%, #ffffff 83%, #ffffff 100%);
    background: -ms-linear-gradient(90deg, #9C9C9C 0%, #CCCCCC 11%, #ffffff 83%, #ffffff 100%);
    background: linear-gradient(0deg, #9C9C9C 0%, #CCCCCC 11%, #ffffff 83%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9C9C9C',GradientType=0 );
}

a.phone-button:hover {
	border-color: forestgreen;
}

.phone-button img {
    height: 60px;
    float: left;
    vertical-align: middle;
}

.phone-button p {
	margin: 0;
	line-height: 60px;
	text-align: center;
	display: inline-block;
	width: 268px;
}

.to-fade {
	opacity: 0;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

.fade-in {
	opacity: 0;
	animation-name: fade;
	animation-duration: .75s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

footer {
	display: none;
}

footer.js-nav-bar {
	display: block;
}

footer.js-nav-bar {
    background-color: #f0f0f0;
    padding: 150px 25px 25px 25px;
}

footer.js-nav-bar p {
    border-top: 1px solid #bbb;
    font-size: 15px;
    padding-top: 25px;
    margin: 0;
    color: #777;
    text-align: center;
}

footer.js-nav-bar a {
	text-decoration: none;
    color: MidnightBlue;
}

footer.js-nav-bar a:hover {
    text-decoration: underline;
}

/*************************** responsive styles ****************************/

@media all and (max-width: 1050px) {
	.js-nav-bar select {
		margin-left: 10px;
	}

	footer.js-nav-bar p {
    	text-align: left;
	}
}

@media all and (max-width: 850px) {
	.js-nav-bar select {
		margin-right: 10px;
	}

	.js-nav-bar h1.site-title {
		margin-left: 10px;
	}
}

@media all and (max-width: 800px) {
	.js-nav-bar label {
		display: none;
	}
}

@media all and (max-device-width: 550px) {

	select:focus, textarea:focus, input:focus {
    font-size: 16px;
    background: white;
  	}

  	select, textarea, input {
    font-size: 16px;
  	}

	body {
		font-size: 18px;
	}

	h1 {
		font-size: 36px;
	}

	h1.site-title {
    	width: 224px
	}

	.form-box header {
		width: 300px;
	}

	.form-box.js-nav-bar {
    	height: 50px;
	}

	.js-nav-bar-padding {
		padding-top: 50px;
	}

	.js-nav-bar {
 	    padding: 10px 5px;
 	}

	.js-nav-bar header {
		width: 140px;
	}

	.js-nav-bar header img {
		height: 30px;
		padding-left: 3px;
		padding-right: 0;
	}

	.js-nav-bar h1.site-title {
		margin-left: 0;
		font-size: 16px;
		width: 110px;
	}

	.js-nav-bar select {
		margin: 0;
		padding: 0;
	}

	.senator {
 	   padding-top: 25px;
 	   padding-bottom: 25px;
	}

	.senator h1 {
		font-size: 28px;
		text-align: center;
	}

	h2 {
		font-size: 20px;
	}

	header img {
		width: 65px;
	}

	.js-selector-form select {
		font-size: 16px;
	}

	.js-selector-form {
		margin: 0 auto;
		height: 100px;
		width: 300px;
		text-align: center;	
	}

	a.phone-button {
    	width: 300px;
    	font-size: 28px;
    	margin: 0 auto;
    	display: block;
	}

	.phone-button p {
		width: 218px;
	}

	p.social-links {
		text-align: center;
	}

	.senator-pic {
		display: block;
		margin: 0 auto;
		width: 70%;
		padding: 0 0 15px 0;
	}

	.senator-state {
		text-align: center;
		margin-top: 0;
	}

	.senator-text {
		display: inline;
		width: 100%;
	}

}

@media all and (max-device-width: 356px) {
	.select-label {
    	font-size: 14px;
	}

	.js-selector-form select{
		font-size: 12px;
	}

	.js-selector-form {
		width: 200px;
	}

	p.social-links {
		font-size: 16px;
	}

}


